<footer>
  <div id="footer_navi">
                <ul>
                    <li>お問い合わせ</a></li>
                    <li>債券ポータルはこちら</li>
                    <li>Site157はこちら</li>
                </ul>
            </div>
            <small>🐶 &copy; 2018★tasklist 🐶 </small>

</footer>